<header>
    <a href="/">
    <div class="box-logo">
        <img class="logo" src="/images/logo.png" alt="" />
    </div>
</a>
    <nav>
        <ul class="menu">
            <li>
                <a href="">smarphones</a>
                <hr>
            </li>
            <li>
                <a href="">tablets</a>
                <hr>
            </li>
            <li>
                <a href="">computadoras</a>
                <hr>
            </li>
        </ul>
        <ul class="usuario">
            <li><a href="/admin">administrador</a></li>
            <li><a href="/users/login">login</a></li>
            <li><a href="/users/register">register</a></li>
        </ul>
    </nav>
</header>