<!DOCTYPE html>
<html lang="es">
    <% include ('./partials/head'), {title:detalle de producto%> 
<body class="detail">
    <header>
        <div><a href="/"><img src="/images/logo.png" alt=""></a></div>
        <nav>
            <ul class="menu">
                <li><a href="">smarphones</a></li>
                <li><a href="">tablets</a></li>
                <li><a href="">computadoras</a></li>
            </ul>
            <ul class="usuario">
                <li><a href="/users/login">login</a></li>
                <li><a href="/users/register">register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="box-detail">
            <div class="box-images">
                <div class="box-images-min">
                    <img id="img-prev1" src="/images/img-phone-01.jpg" alt="">
                    <img id="img-prev2" src="/images/img-phone-02.jpg" alt="">
                    <img id="img-prev3" src="/images/img-phone-03.jpg" alt="">
                </div>
                <div class="img-principal">
                    <img id="img-main" src="/images/img-phone-01.jpg" alt="">
                </div>
            </div>
            <div class="box-content">
                <h2>Titulo del producto</h2>
                <p>Descripción del producto</p>
                <h3>$ 25.000</h3><span>10% OFF</span>
                <hr>
                <h5>Caracteristicas</h5>
                <div class="features">
                    <ul>
                        <li>Característica 1</li>
                        <li>Característica 1</li>
                        <li>Característica 1</li>
                        <li>Característica 1</li>
                    </ul>
                </div>
            </div>
            <div class="box-products">
                <h4>Productos relacionados</h4>
                <div class="glider-contain">
                    <div class="glider">
                      <div class="item-carousel"><img src="/images/img-phone-01.jpg" alt=""></div>
                      <div class="item-carousel"><img src="/images/img-phone-02.jpg" alt=""></div>
                      <div class="item-carousel"><img src="/images/img-phone-03.jpg" alt=""></div>
                      <div class="item-carousel"><img src="/images/img-phone-01.jpg" alt=""></div>
                      <div class="item-carousel"><img src="/images/img-phone-02.jpg" alt=""></div>
                      <div class="item-carousel"><img src="/images/img-phone-03.jpg" alt=""></div>
                      <div class="item-carousel"><img src="/images/img-phone-01.jpg" alt=""></div>
                      <div class="item-carousel"><img src="/images/img-phone-02.jpg" alt=""></div>
                      <div class="item-carousel"><img src="/images/img-phone-03.jpg" alt=""></div>
                      <div class="item-carousel"><img src="/images/img-phone-01.jpg" alt=""></div>
                      <div class="item-carousel"><img src="/images/img-phone-02.jpg" alt=""></div>
                      <div class="item-carousel"><img src="/images/img-phone-03.jpg" alt=""></div>
                    </div>
                    <button aria-label="Previous" class="glider-prev">«</button>
                    <button aria-label="Next" class="glider-next">»</button>
<!--                     <div role="tablist" class="dots" id="dots"></div>
 -->                  </div>
            </div>
        </div>
   </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="/js/glider.js"></script>
    <script src="/js/productDetail.js"></script>
</body>
</html>